* {
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
  outline: none;
  border: none;
}

.align {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 150px;
}

form {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  padding: 44px 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  right: 0;
  transition: right 0.2s;
}

.inputs {
  width: 100%;
  padding-top: 6px;
}

.input {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.input input {
  width: 100%;
  font-size: 17px;
  background: #1c1c1c;
  border-radius: 8px;
  padding: 16px 18px 16px 51px;
  color: rgb(220, 220, 220);
}

.input img {
  width: 16px;
  position: absolute;
  left: 19px;
}

.card {
  margin-bottom: 300px;
  height: 100%;
  max-height: 446px;
  width: 500px;
  background: #121212;
  color: white;
  border: 1px solid #373737;
  border-radius: 10px;
}

.card button,
.button {
  display: block;
  background: #000;
  padding: 14px 52px;
  border: 2px solid rgb(167, 163, 145);
  border-color: #00fa9a;
  border-radius: 12px;
  color: #00fa9a;
  font-weight: 700;
  font-size: 21px;
  cursor: pointer;
}

.card button:hover,
.button:hover {
  background: #00fa9a;
  color: #000;
}

.heading {
  text-align: center;
}

/* Popup */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 5;
}

.popup {
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s step-start;
  background-color: black;
}

.popup h2 {
  margin-top: 0;
  color: #00fa9a;
  text-align: center;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #00fa9a;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
  color: whitesmoke;
}

.popup .close:target {
  top: -100%;
  transition: all 5s step-end;
}
@media screen and (max-width: 700px) {
  .align {
    width: 80%;
  }
  .popup {
    width: 70%;
  }
}
