* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
  outline: none;
  border: none;
}
.align {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 8px;
}
.heading {
  text-align: center;
  color: #00fa9a;
  margin-bottom: 20px;
}
.heading.Light {
  color: black;
}
.head {
  width: 100%;
  display: flex;
  height: 72px;
  border-bottom: 1px solid #373737;
  justify-content: space-between;
}
.head a {
  height: 100%;
  padding: 0 28px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: rgb(140, 140, 140);
  font-size: 20px;
  font-weight: 500;
}
.head a.Light {
  color: black;
}
.head .selected {
  position: relative;
  color: #00fa9a;
  font-weight: 700;
}

.head .selected:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: #00fa9a;
  border-radius: 99px 99px 0 0;
}

#Logintab {
  height: calc(100% - 72px);
  display: block;
}
#Signuptab {
  height: calc(100% - 72px);
  display: flex;
}
form {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  padding: 44px 38px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  right: 0;
  transition: right 0.2s;
}
.inputs {
  width: 100%;
  padding-top: 6px;
}

.input {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  display: block;
  align-items: center;
}

.input input {
  width: 100%;
  font-size: 17px;
  background: #1c1c1c;
  border-radius: 8px;
  padding: 16px 18px 16px 51px;
  color: rgb(220, 220, 220);
}
.input input.Light {
  border: 1px solid black;
  background: white;
  color: black;
}

i {
  width: 16px;
  position: absolute;
  bottom: 20px;
  left: 19px;
  color: grey;
}

.submit {
  display: block;
  background: #000;
  padding: 14px 52px;
  border: 2px solid #00fa9a;
  border-color: #00fa9a;
  border-radius: 12px;
  color: #00fa9a;
  font-weight: 700;
  font-size: 21px;
  cursor: pointer;
}

.card {
  margin-top: 28px;
  height: 100%;
  max-height: 500px;
  width: 360px;
  background: #121212;
  border: 1px solid #373737;
  border-radius: 10px;
  transition: max-height 0.2s;
  overflow: hidden;
}
.card button,
.card input[type="submit"] {
  display: block;
  background: #000;
  padding: 14px 52px;
  border: 2px solid #00fa9a;
  border-color: #00fa9a;
  border-radius: 12px;
  color: #00fa9a;
  font-weight: 700;
  font-size: 21px;
  cursor: pointer;
}
.card button:hover,
.card input[type="submit"]:hover {
  background: #00fa9a;
  color: #000;
}
.extend {
  max-height: 1000px;
  overflow: scroll;
}
.FP {
  color: #00fa9a;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .card {
    width: 100%;
    margin-top: 0;
  }
}
@media screen and (max-height: 2000px) {
  .card {
    height: 100%;
    margin-top: 52px;
  }
}
